body{
  font-family: 'Lobster', cursive;
}
.headline {
  position: absolute;
 top: 10px;
 left: 40px;
 margin: 0px;
      padding: 10px 40px 10px 80p}
  
  background: #FBD751
  color: #1FIAO9}
  #kids-pic {
     height: auto;
     width: 500px;}

.bio {
  position: absolute;
  top: 100px;
}
 